# URL base da API backend
NEXT_PUBLIC_API_URL=

# Chave pública do Asaas (caso implemente tokenização)
NEXT_PUBLIC_ASAAS_PUBLIC_KEY=

# Segredo para validação de JWT no middleware (caso implemente)
JWT_SECRET=
